/**
 * FillPDF Service Theme-specific tweaks
 *
 * Use this file to add custom styles.
 */
/* @todo: make these kinda more coherent */
.fpspricing-row {
  vertical-align:  top;
  border: solid 1px lightgray;
  padding-left: 1.1em; /* 20px; */
  padding-right: 1.1em; /* 20px; */
  text-align: justify;
  background-color: #f6f6f6;
  width: 33%;
}

.fpspricing-row.col-first {

}

.fpspricing-row.col-2 {
  background-color: #fff;
  border: solid 1px lightgray;
  width: 34%;
}

.view-id-fillpdf_service_pricing_v2 .views-field-add-to-cart-form {
  margin-bottom: 1em;
}

.fpspricing-row .views-field-title
  , .fpspricing-row .field-name-commerce-price
  , .fpspricing-row .views-field-add-to-cart-form {
  text-align: center;
}

.fpspricing-row .views-field-title {
  font-size: 1.538em;
  margin-bottom: 0.25em;
  font-weight: bold;
  text-decoration: underline;
}

.fpspricing-row .field-name-commerce-price {
  line-height: 1em;
}

.fpspricing-row .field-type-commerce-price span.price_suffix p {
  font-size: 0.6em;
  margin-bottom: 0;
}

.fpspricing-row .views-field-add-to-cart-form input {
  margin: 0;
  padding: 0.75em;
  font-size: 1em;
}
